# --- KONEKSI MQTT ---
MQTT_BROKER=broker.hivemq.com

# --- NOTIFIKASI TELEGRAM (Tugas XYZ) ---
TELEGRAM_TOKEN=8655468257:AAHnZzlPPpVjfK7LaT1Bt1wc1heJf5rRQDs
TELEGRAM_CHAT_ID=1200861860

# --- DATABASE POSTGRESQL (Tugas Taya) ---
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=ilmas_db
DB_USER=postgres
DB_PASS=rahasia
