MQTT_BROKER=broker.hivemq.com
TELEGRAM_TOKEN=isi_token_bot_di_sini
TELEGRAM_CHAT_ID=isi_id_chat_di_sini
MQTT_BROKER=broker.hivemq.com
TELEGRAM_TOKEN=8655468257:AAHnZzlPPpVjfK7LaT1Bt1wc1heJf5rRQDs
TELEGRAM_CHAT_ID=1200861860
