# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*.class

# Mac OS
.DS_Store
# Environments
.env
.venv
env/
venv/

# Python
__pycache__/
*.py[cod]
*.class

# Mac OS
.DS_Store
